@import '../variables/variables';

.Footer {
  background: #f3f3f3;
  width: 100%;

  .gm-style-iw {
    a {
      display: block;
      color: $theme-color;
      text-decoration: underline;

      &:hover {
        color: $theme-color-hover;
      }
    }

    img {
      width: 90px;
    }
  }

  &--rtl {
    @include hebrewFontFamily();

    .gm-style-iw {
      & > div:first-child {
        direction: rtl;
      }

      & + div {
        left: auto !important;
        right: 12px;
      }
    }
  }

  textarea {
    resize: none;
  }
}

footer > .container {
  padding-top: 70px;
  padding-bottom: 70px;
}

footer h3 {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  margin: 0;
  padding: 0 10px;
}

//footer h3 span {
//  color: $theme-color;
//  font-weight: 700;
//}

.fa-facebook::before {
  font-family: FontAwesome;
}

#contact-me {
  display: inline-block;
}

.contact-us-form {
  margin-top: 30px;

  .lj-block-center {
    height: auto;
    display: flex;
    flex-direction: column;

    label {
      padding-bottom: 12px;
    }
  }
}

.lj-subtitle {
  text-align: left;
}

.lj-subtitle-paragraph p {
  color: #808080;
  margin: 50px 0;
}

.lj-form input[type=text],
.lj-form input[type=email],
.lj-form input[type=tel],
.lj-form textarea {
  outline: none;
  padding: 12px 18px;
  margin-bottom: 15px;
  width: 100%;
  background: #fff;
  border: 1px solid #e0e0dd;
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #aaaaaa;
  font-weight: 300;
  transition: border 0.25s linear;
  //width: 300px;
  //height: 40px;
  //margin-bottom: 25px;
  //display: block;
  //padding: 0 10px;
  //background-color: #fff;
  //border: 3px solid #fff;
  //-webkit-border-top-left-radius: 3px;
  //-webkit-border-bottom-left-radius: 3px;
  //-moz-border-radius-topleft: 3px;
  //-moz-border-radius-bottomleft: 3px;
  //border-top-left-radius: 3px;
  //border-bottom-left-radius: 3px;
  //line-height: 44px;
  //color: #262626;
  //float: left;

  &#message {
    height: auto;
    min-height: 120px;
  }
}

.lj-form input:focus {
  outline: 0;
}

.Footer input[type=button] {
  width: 100%;
  height: 50px;
  display: block;
  padding: 0 10px;
  background-color: $theme-color;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1em;
  color: #fff;
  transition: all 0.125s ease-in-out 0s;
  -moz-transition: all 0.125s ease-in-out 0s;
  -webkit-transition: all 0.125s ease-in-out 0s;
  -o-transition: all 0.125s ease-in-out 0s;
  -ms-transition: all 0.125s ease-in-out 0s;
  float: right;
}

.lj-form input[type=submit]:hover {
  background-color: $theme-color-hover;
}

.lj-form form div {
  width: 300px;
  height: 50px;
}

.contact-us-form--rtl {
  direction: rtl;
}

.error-message {
  display: none;

  &-visible {
    display: inline;
    color: red;
  }
}

.lj-message {
  padding: 13px 10px;
  margin-top: 50px;
  text-align: center;
  color: #fff;
}

.lj-address {
  margin-top: 30px;
}

.lj-address ul {
  color: black;
  font-weight: bold;
  padding-left: 0;
  margin-left: 2.14285714em;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: inline-block;
}

.lj-address:first-child {
  text-align: right;
}

.lj-address ul > li {
  position: relative;
  text-align: left;

  a {
    color: black;
    text-decoration: none;
    cursor: auto;
  }
}

.lj-address i {
  line-height: 1.5em;
}

@media (max-width: 767px) {
  .lj-mobile-socials {
    margin-top: 50px;
    text-align: center;
  }

  .lj-mobile-socials ul {
    display: inline-block;
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .lj-mobile-socials ul li {
    height: 50px;
    font-size: 3em;
    line-height: 50px;
    float: left;
    margin: 0 10px;
  }

  .lj-mobile-socials ul li a {
    color: #808080;
  }

  .lj-mobile-socials ul li a:hover {
    color: $theme-color;
  }

  .lj-address:first-child,
  .lj-address {
    text-align: center;
  }
}

@media (max-width: 480px) {

  .lj-subtitle {
    text-align: center;
  }

  .lj-address {
    margin-top: 0;
  }

  .google-maps {
    margin-bottom: 20px;
  }

  .lj-form input[type=text],
  .lj-form input[type=button] {
    width: 100%;
    float: none;
  }

  .lj-form input[type=text] {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
  }

  .lj-form input[type=button] {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
  }

  .lj-form form div {
    width: 90%;
    height: 100px;
  }
}

@media (min-width: 481px) {

  .Footer {
    .row--rtl {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  .pull-right-md {
    float: right;
  }

  .pull-left-md {
    float: left;
  }
}
