$adi-image-size: 170px;

@mixin left-align() {
  text-align: left;
  margin-left: 0px;
}

.Title-container {
  position: relative;
  width: 650px;
  margin-top: -100px;
  margin-left: 150px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;

  &--rtl {
    direction: rtl;
    margin-left: 0;
    margin-right: 150px;
    //padding-right: 40px;
    font-family: 'Alef', sans-serif;

    @include hebrewFontFamily();
  }

  .Title__adi-container {
    position: absolute;
    width: $adi-image-size;
    height: $adi-image-size;
    z-index: 1;
  }

  .Title__adi-image {
    height: auto;
    width: auto;
    max-height: $adi-image-size;
    max-width: $adi-image-size;
    border-radius: 50%;

    &-opacity {
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
    }
  }
}

.Title-overlay {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.85;
}

.lj-title {
  margin-top: 50px;
}

.lj-title h1 {
  font-family: 'Raleway';
  font-size: 2.8em;
  font-weight: 300;
  color: black;
  margin-top: 0;
  word-wrap: break-word;
}

.lj-title span {
  color: $theme-color;
  font-weight: 700;
}

.lj-title-paragraph {
  margin-top: -10px;
}

.lj-title-paragraph p {
  font-weight: 400;
  font-size: 1.15em;
  margin: 0;
}

.lj-header-button {
  margin-top: 25px;
  text-align: center;
}

.lj-header-button {
  a {
    display: inline-block;
    color: #fff;
    text-align: center;
    //background-color: transparent;
    font-family: 'Raleway';
    padding: 10px 30px;
    background-color: $theme-color;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
  }

  & > div:not(.contact-me-container--rtl) {
    a {
      font-weight: 700;
    }
  }
}

.lj-header-button a:hover {
  background-color: $theme-color-hover;
}

/* 1. BREAKPOINTS */

@media (min-width: 1025px) {
  .Title__adi-container {
    top: -50px;

    &.isRTL {
      left: -80px;
    }

    &.nonRTL {
      right: -100px;
    }
  }
}

@media (min-width: 481px) {
  .contact-me-container {
    @include left-align();

    &--rtl {
      text-align: right;
    }
  }

  .lj-title-paragraph {
    @include left-align();
    width: 100%;

    &--rtl {
      text-align: right;
      margin-left: 0;
    }
  }
}

@media (max-width: 1024px) {
  .Title-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    &:not(.Title-container--rtl) {
      margin-top: 20px;
    }
  }

  .Title__adi-container {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -130px;
  }
}

@media (max-width: 480px) {

  .Title-container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
  }

  .lj-title {
    h1 {
      text-align: center;
      margin-top: 0;
    }
  }

  .hero-desc {
    text-align: center !important;
  }

}

@media (max-width: 400px) {

  .Title__adi-container {
    top: -60px;
  }

  .lj-title {
    margin-top: 100px;
  }
}
