<!doctype html>
<html lang="en">
  <head>
    <meta name="version" content="<%= htmlWebpackPlugin.options.version %>">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <meta content="<%= htmlWebpackPlugin.options.description %>" property="og:description">
    <meta content="<%= htmlWebpackPlugin.options.title %>" property="og:title" />
    <meta content="<%= htmlWebpackPlugin.options.title %>" property="og:site_name" />
    <meta content="website" property="og:type" />
    <meta content="<%= htmlWebpackPlugin.options.localeURL %>" property="og:url" />

    <meta content="<%= htmlWebpackPlugin.options.imageHttp %>" property="og:image" />
    <meta content="<%= htmlWebpackPlugin.options.imageHttps %>" property="og:image:secure_url" />
    <meta content="<%= htmlWebpackPlugin.options.imageType %>" property="og:image:type" />
    <meta content="828" property="og:image:width" />
    <meta content="810" property="og:image:height" />

    <meta content="<%= htmlWebpackPlugin.options.locale %>" property="og:locale" />

    <!--Hreflang-->
    <%= htmlWebpackPlugin.options.HreflangLinkTags %>

  <body>
    <div id="root">
    </div>
  </body>
</html>
