@import url("bootstrap.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,700&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Alef");
@import url("../assets/third-party/font-awesome.min.css");

@mixin hebrewFontFamily() {
  h1, h2, h3, p, a, input[type=text], input[type=textarea], input[type=button] {
    font-family: 'Alef', sans-serif !important;
  }
}

@import "./components/Main";
@import "./components/Title";
@import "./components/Footer";

body {
  font: 16px/1.5 Lato, "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
  background-color: #fff;
  color: #262626;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  //.he {
  //  font-family: 'Alef', sans-serif;
  //}
}

a {
  color: white;
  transition: all 0.125s ease-in-out 0s;
  -moz-transition: all 0.125s ease-in-out 0s;
  -webkit-transition: all 0.125s ease-in-out 0s;
  -o-transition: all 0.125s ease-in-out 0s;
  -ms-transition: all 0.125s ease-in-out 0s;
}

a:hover {
  color: white;
}

a, a:hover, a:active, a:focus {
  outline: 0;
  border: 0;
  text-decoration: none;
}
